version: '3.7'
services:
  hub:
    image: selenium/hub:{{ seleniumhub_docker_image_version }}
    networks:
      - integr8
    ports:
      - "4444"
    environment:
      GRID_NEW_SESSION_WAIT_TIMEOUT: -1
      GRID_JETTY_MAX_THREADS: -1
      GRID_NODE_POLLING: 10
      GRID_CLEAN_UP_CYCLE: 10
      GRID_TIMEOUT: 10
      GRID_BROWSER_TIMEOUT: 10
    deploy:
      replicas: 1
      labels:
      - traefik.enable=true
      - traefik.backend=hub
      - traefik.frontend.rule=Host:{{ seleniumhub_host }}
      - traefik.port=4444
      - traefik.docker.network=integr8
      placement:
        constraints:
          - node.role == worker
  chrome:
    image: selenium/node-chrome:{{ seleniumhub_docker_image_version }}
    volumes:
      - /dev/shm:/dev/shm
    networks:
      - integr8
    environment:
      HUB_HOST: hub
      HUB_PORT: 4444
      NODE_MAX_SESSION: 50
      NODE_MAX_INSTANCES: 50
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker
    entrypoint: bash -c 'SE_OPTS="-host $$HOSTNAME" /opt/bin/entry_point.sh'
  firefox:
    image: selenium/node-firefox:{{ seleniumhub_docker_image_version }}
    volumes:
      - /dev/shm:/dev/shm
    networks:
      - integr8
    environment:
      HUB_HOST: hub
      HUB_PORT: 4444
      NODE_MAX_SESSION: 50
      NODE_MAX_INSTANCES: 50
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker
    entrypoint: bash -c 'SE_OPTS="-host $$HOSTNAME" /opt/bin/entry_point.sh'
networks:
  integr8:
    external: true
    name: integr8